@model IEnumerable<Test2.Models.Employee>

<form method="post" asp-controller="Email" asp-action="SendEmail">
    <p>For Sending mail to the Clients, click the below button:</p>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>

<form method="get" asp-controller="Email" asp-action="GenerateReport">
    <p>For Generating Report, click the below button:</p>
    <button type="submit" class="btn btn-primary">Generate Report</button>
</form>


